body {
    margin: 0;
}

.container {
    margin: 0 auto;
    text-align: center;
}
.header {
    font-size: 1.5em;
}

textarea {
    height: 10em;
    width: 20em;
    font-size: 18px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;;
    
}

button {
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    height: 2em;
    width: 6em;
    cursor: pointer;
    transition: 0.5s;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    
}
button:hover {
    background-color: rgb(39, 39, 39);
}

.saved_content {
    text-align: justify;
    margin: 0em 2.5em;
    word-wrap: break-word;
}